* {
	box-sizing: border-box;
}

.App {
  text-align: center;
}

#Container {
	width: 20em;
}

#GameBoard {
	width: 20em;
	height: 20em;
}

.gametile {
	display: inline-block;
}

.dark {
	background-color: #272A4F;
}

.light {
	background-color:#EBD774;
}

.flexContainer {
	display: flex;
}

.shrinkable50 {
	width: 50%;
	flex-shrink: 1;
}
.width2em{
	width: 2em;
	flex-shrink: 0;
	text-align: center;
}
